@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

@layer base{
  .btn{
    @apply bg-[#E48D8B] text-white capitalize
  } 

  .p{
    @apply font-normal text-lg sm:text-xl text-[#464646]
  }
}

*{
  font-family: 'Inter', sans-serif;
}

.acardion-gray{
  margin: 12px 0;
  background-color: #ededed !important;
  box-shadow: none !important;
}

.acardion-transparent{
  padding: 16px 0 20px 0;
  box-shadow: none !important;

}
